@import "../common/styles/sass/variables.scss";

.contactsBlock {
    min-height: 100vh;
    background-image: url("https://thumbs.dreamstime.com/b/customer-support-concept-customer-support-hotline-contact-us-people-connection-man-holding-mobile-smartphone-customer-260635784.jpg");
    background-size: cover;
    padding: 100px 0;

    .contactsContainer {
        display: flex;
        flex-direction: column;

        span {
            color: $subtitle;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 14px;
            font-family: $titleFontFamily;
            font-weight: 400;
        }

        .contactsForm {
            max-width: 700px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            box-sizing: border-box;
            background: $bgSecondColor;
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 30px;
            box-shadow:  10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
            @media screen and (max-width: 767px) {
                margin: 40px 0 0 0;
            }

            .blockInfo {
                max-width: 700px;
                width: 100%;
                flex-wrap: wrap;
                box-sizing: border-box;
                padding-right: 15px;
                padding-left: 15px;
                color: $primaryColor;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-family: $titleFontFamily;
                margin-bottom: 14px;
                text-align: left;

                input {
                    background: #191b1e;
                    width: 100%;
                    border-radius: 6px;
                    height: 55px;
                    border: 2px solid #191b1e;
                    font-size: 14px;
                    font-family: $titleFontFamily;
                    color: $textColor;
                    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
                    letter-spacing: 1px;
                    transition: 0.4s;
                    margin-top: 10px;
                    &:focus {
                        outline: none;
                        border: 2px solid #ff014f;
                    }
                }

                textarea {
                    min-height: 216px;
                    width: 100%;
                    background: #191b1e;
                    border-radius: 6px;
                    transition: 0.4s;
                    border: 2px solid #191b1e;
                    margin-top: 10px;
                    font-size: 14px;
                    line-height: 18px;
                    font-family: $titleFontFamily;
                    color: $textColor;
                    box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
                    letter-spacing: 1px;
                    resize: none;
                    @media screen and (max-width: 767px) {
                        min-height: 150px;
                    }

                    &:focus {
                        outline: none;
                        border: 2px solid #ff014f;
                    }
                }
                .button {
                    border: 0 none;
                    width: 100%;
                    height: 40px;
                    transition: 0.4s;
                    cursor: pointer;
                    border-radius: 6px;
                    font-family: $titleFontFamily;
                    background: linear-gradient(145deg, #1e2024, #23272b);
                    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;;
                    position: relative;
                    z-index: 1;
                    color: $textColor;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
        }


    }
}













