@import "../../styles/sass/variables.scss";

.title {
    font-family: "Montserrat", sans-serif;
    margin: 7px;
    color: $textColor;
    font-size: 40px;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    letter-spacing: 0.5px;
    text-align: center;
    position: relative;

    h2 {
        word-break: break-word;
        @media screen and (max-width: 767px) {
            font-size: 40px;
            margin-top: 7px;
        }
    }
    span {
        letter-spacing: 1px;
        display: block;
        line-height: 18px;
        color: #ff014f;
        text-transform: uppercase;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
    }

}



