.title {
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px 0;
    color: #c4cfde;
    padding: 0 30px;
    font-size: 22px;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    letter-spacing: 0.5px;
    text-align: center;
    position: relative;
}

.title::before{
    content: '';
    position: absolute;
    background: white;
    width: 55px;
    height: 1px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,50%);
}
