@import "../common/styles/sass/variables";

.mainBlock {
  height: 100vh;
  background-color: $bgColor;

  .greetings {
    max-width: 600px;
  }

  .title {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
    line-height: 62px;
    margin: 22px 0;
    @media screen and (max-width: 767px) {
      font-size: 50px;
      line-height: 60px;
    }
    @media screen and (max-width: 479px) {
      font-size: 32px;
      line-height: 40px;
    }

    .name {
      color: $redColor;
      font-weight: 600;
    }

    .headerCaption{
      font-size: 35px;
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }
  }

  .description {
    font-family: "Poppins", sans-serif;
    color: $textColor;
    width: 100%;
    font-size: 16px;
    display: inline-block;
    text-align: justify;
    line-height: 1.5;
    word-spacing: -.4ch;
    margin-bottom: 12px;
  }

  .photo {
    width: 350px;
    height: 450px;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

  }

}

