.project {
    max-width: 500px;
    width: 100%;
    background-color: #1e2024;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.image::before {
    position: absolute;
    content: '';
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}

.viewBtn {
    height: 50px;
    width: 100px;
    background: mediumpurple;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.projectInfo {
    padding: 25px 20px;
}

.projectTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.2;
    color: #c4cfde;;
    margin: 0;
    height: 50px;
}

.description {
    color: rgba(198, 201, 216, 0.75);;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.8;
}


