$textColor: #c4cfde;
$primaryColor: rgba(198, 201, 216, 0.75);
$redColor: #ff014f;
$subtitle: #f9004d;
$bgColor: #212428;
$bgSecondColor: #1e2024;
$btnColor: mediumpurple;
$titleFontFamily: 'Josefin Sans', sans-serif;
$textFontFamily: 'Poppins', sans-serif;
