$textColor: #c4cfde;
$primaryColor: #a0a8b3;
$redColor: #ff014f;
$subtitle: #f9004d;
$bgColor: #212428;
$bgSecondColor: #1e2024;
$btnColor: mediumpurple;
$titleFontFamily: "Montserrat", sans-serif;
$textFontFamily: 'Poppins', sans-serif;
