.projectsBlock {
    background-color: #212428;

}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: flex-start;
}

@media screen and (max-width: 1129px){
    .projects{
        justify-content: center;
    }
}